.top-bar {
    height: 170px;
}

.top-bar .logo {
    font-size: 55px;
    margin: 0;
    padding: 44px;
}

.s1 {
    padding: 155px 0 80px;
    background-image: url(../img/main_page/bg_1.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.s1 .btn {
    margin-top: 50px;
}

body {
    font-family: "Roboto", sans-serif !important;
}

.mart_50 {
    margin-top: 50px;
}

.car_in {
    min-height: 300px;
}

.top-bar .main-text {
    font-size: 30px;
    font-weight: 200;
}

.top-bar .simple-text {
    font-size: 26px;
    font-weight: 300;
}

.carousel {
    height: 640px !important;
}

.carousel img {
    margin-top: 33px;
    width: 40% !important;
}

.carousel.carousel-slider .carousel-item h2 {
    font-size: 58px;
}

.carousel.carousel-slider .carousel-item p {
    font-size: 16px;
    padding-top: 15px;
}

.img-responsive {
    display: inline;
}

